# Copia este archivo como .env.local para configurar tu IP privada local
# (este archivo .env.local es ignorado por Git para que no pise la configuracion de tu companero):
#
# Ejemplo para tu companero:
# EXPO_PUBLIC_API_URL=http://192.168.0.50:8000/api/
#
# Ejemplo para vos:
# EXPO_PUBLIC_API_URL=http://192.168.3.3:8000/api/
EXPO_PUBLIC_API_URL=http://192.168.3.3:8000/api/
